.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/Talented.iml
.idea/vcs.xml
Screenshots/drop1.png
Screenshots/drop2.png
Screenshots/LDB.png
Screenshots/saveas.png